{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties"
  ],
  "sourceMaps": "inline",
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    },
    "commonjs": {
      "presets": ["@babel/preset-env"]
    }
  }
}
