# Docs
docs/_build

# Dependencies
.eslintcache
node_modules/

# Testing
coverage/

# Production
umd/
es/
lib/
dist/

# Logs
yarn-debug.log*
yarn-error.log*

# Editors
.vscode/
.idea/*

# Misc
.DS_Store
